{% extends "layout.html" %}
{% block content %}
    <h1>ECOSYSTEM:CONNECT WITH YOUR NEIGHBOURS</h1>
    <p>Ecosystem is a website that allows you connect and live in dependence with your neighbours.This website allows you share anything you wish to with your neighbours in the form of blogposts and event announcements, you can also create polls and take the opinions of your neighbours anonymously.You have to register as a user as the website will not let you create new posts, events and polls if you are not a account holder. In the account you will have to create a unique username, enter your name, apartment number and generate a password you will use to login. You can login now and use the site to create the aforementioned posts, events and polls and you can also vote in polls only if you are logged in.
    </p>
    <br><br><br><br><br><br><br><br><br><br>
    <h4>This website was developed by : </h4>
    <h4> Phani Sriram(IMT2019514)</h4>
    <h4>International Institute Of Information Technology Bangalore</h4>
{% endblock content %}