{% extends "layout.html" %}
{% block content %}
   
    <h1>ANNOUNCEMENTS</h1>
    {% for post in posts %}
    <div style="word-wrap: break-word">

        <hr>
        {% if post.anonymity == False %}
            <h3>Posted by : {{ post.author.name }}</h3>
            <h3>Resident of : {{ post.author.apt_no }}</h3>
        {% else %}
            <h3>Posted by : Anonymous</h3>
        {% endif %}
        
        <h3>Posted on : {{ post.date_posted.strftime('%Y-%m-%d') }}</h3>
        <a href={{ url_for('post', post_id = post.id) }}>{{ post.title }}</a>
        <h3>Content</h3>
        <p class="article-content">{{ post.content }}</p>
        <hr>
    </div>

    {% endfor %}
{% endblock content %}