{% extends "layout.html" %}
{% block content %}
<div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>{{ legend }}</legend>
                <div>
                    
                    {{ form.title.label() }}
                    {% if form.title.errors %}
                        {{ form.title() }}
                        <div>
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title() }}
                    {% endif %}
                </div>
                    
                <div>
                    
                    {{ form.content.label() }}
                    {% if form.content.errors %}
                        {{ form.content() }}
                        <div>
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content() }}
                    {% endif %}
                
                </div>
                <div>
                    {{ form.go_anonymous.label() }}
                    {% if form.go_anonymous.errors %}
                        {{ form.go_anonymous() }}
                        <div>
                            {% for error in form.go_anonymous.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.go_anonymous() }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit() }}
            </div>
           
        </form>
    </div>
{% endblock content %}